
html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #D6D6D6;
  width: 100%;
  height: 56px;
}
 
.body{
  position: relative;
}

.logo {
  margin: 0 8px 0 32px;
}


.onde-comecar {
  display: flex;
  flex: 0 0 auto;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  text-align: center;
  color:#FFFFFF;
  background-color: #15B35A;
  border-radius: 20px;
  padding: 9px 16px 11px 16px;
  margin-left: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.user {
  display: flex;
  flex: 0 0 auto;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: right;
  color:rgba(0, 0, 0, 0.87);
  border: 1px solid #D6D6D6;
  border-radius: 20px;
  padding: 4px 4px 4px 16px;
  align-items: center;
  margin-left: 16px;
  padding-left: 16px;
  margin-right: 32px;
}

.icon-user {
  display: flex;
  align-items: center;  
  margin-left: 8px;
}

.titulo-secundario {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48px;
  color: #03A9F4;
  height: 45px;
  text-align: left;
  margin-top: 64px;
  margin-bottom: 56px;

}

.main {
  margin-left: 80px;
  margin-right: 80px;
}

a {
  text-decoration: none;
}
 
.duvidas.active {
  border-bottom: 3px solid #03A9F4;
  color:#607D8B;
}

.text-question {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  color:#607D8B;
  margin: 0;
}

.baseline-keyboard{
  height: 24px;
  width: 24px;
  margin-left: auto;
}

.caixa {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  align-self: stretch;
  align-items: center;

}
.menu {
  display: flex;
  margin-left: 24px;
  font-family: "Poppins";
  font-weight: 400;
  color: #9E9E9E;
  font-size: 12px;
  border-bottom: 3px solid transparent;
  align-self: stretch;
  align-items: center;
}

.question {
  padding: 20px;
  border: 1px solid #D6D6D6;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.icon-chat {
  background-color: #15B35A;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
}

.image-chat{
  margin: auto;
}

.bolinhas{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 16px;
}

.bolinha{
  box-sizing: border-box;
  border-radius: 50%;
  background-color:#D6D6D6;
  height: 12px;
  width: 12px;
  margin-right: 26px;
  margin-top: 32px;
}

.bolinha.active{
  background-color: #03A9F4;
}