
html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
}

.onde-comecar {
  font-family: "Poppins";
  font-weight: 400;
  text-align: center;
  color:#FFFFFF;
  background-color: #15B35A;
  border-radius: 20px;
  width: 166px;
  height: 40px;
}

.user {
  font-weight: 400;
  color:#000000;
  border: 1px solid #D6D6D6;
  width: 148px;
  height: 40px;
  border-radius: 20px;
}

.duvidas-frequentes {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48px;
  color: #03A9F4;
  height: 45px;
  text-align: left;
}

.main {
  margin-left: 80px;
  margin-right: 80px;
}

a {
  text-decoration: none;
}
 
.box-question {
  font-family: "Poppins";
  font-weight: 500;
  color:#607D8B;
}

.icon-chat {
  background-color: #15B35A;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;
}

.image-chat{
  margin: auto;
}
.caixa {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
}
.menu {
  display: flex;
  margin: 5px;
  font-family: "Poppins";
  font-weight: 400;
  color: #9E9E9E;
  font-size: 12px;
}

.question {
  padding: 20px;
  border: 1px solid #D6D6D6;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.baseline-keyboard{
  height: 24px;
  width: 24px;
  margin-left: auto;
}
